/*
Website Name: SeniorTechSupport
Web Developers: Matt Gu, Daniel Williams
Date: 2/9/19
*/

/* Body */
html, body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
}

html.tutorial, body.tutorial {
    background-color: #E0E0E0;
}

::selection {
    background-color:#1e3799;
    color:#fff;
}
/*###########################################################################################*/
/* Headings and Paragraphs */
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 2.5em;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
}
h6 {
    font-style: italic;
    font-weight: normal;
    font-size:1em;
}
/*###########################################################################################*/
/* Headers and Footers */
header {
    margin: 10.5em;
}
div.head-container {
    width: 100%;
    background-color: #0c2461;
    color: #e58e26;
    top: 0;
    left: 0;
    position: absolute;
    padding-bottom: .5em;
}
div.navbar-container {
    width:100%;
}

.navbar-container ul {
    list-style-type: none;
    padding-bottom: 1em;
} 

.navbar-container li {
    float:left;
    display:inline;
    padding: .1em 1em;
}

.navbar-container li a {
    text-decoration: none;
    padding: .2em .5em;
    border: 1.5px solid;
    border-radius: .2em;
    color:#fff;
    border-color: #fff;
}

/*###########################################################################################*/
/* Body Containers */
div.jumbotron {
    width: 60em;
    background-color: #e58326;
    padding: .5em 3em 3em 3em;
    margin: .5em auto;
    font-size: 1.1em;
    border-radius: .75em;
}

div.panel {
    width: 72.5em;
    padding: 1em 0em;
    margin: 0 auto;
    display: flex;
    border-radius: .75em
}

div.panel-left {
    width: 20em;
    float: left;
    margin: 0em;
    padding: .5em 1.5em 1.75em 1.5em;
    border-radius: .75em;
    background-color: #ddd;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

div.panel-mid {
    width: 20em;
    margin: 0 auto;
    padding: .5em 1.5em 1.75em 1.5em;
    border-radius: .75em;
    background-color: #ddd;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

div.panel-right {
    width: 20em;
    float: right;
    margin: 0em;
    padding: .5em 1.5em 1.75em 1.5em;
    border-radius: .75em;
    background-color: #ddd;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

div.tutorial {
    width: 75%;
    margin: 5em auto;
    background-color: #E0E0E0;
    text-align: center;
}

img {
    margin: 2.5em auto;
    width: 25em;
    border-radius: 1em;
    display:block;
}
/*###########################################################################################*/
/* Buttons */
a:link {
    text-decoration: none;
    transition: 0s;
}

.btn-blue{
    display: inline-block;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 800;
    font-size: 1em;
    text-align: center;
    padding: .5em .75em;
    bottom: 0;
    background-color: #0c2461;
    color: #e58e26;
    border-radius: .25em;
}

.panel .btn-blue{
    margin-top:1.5em;
    justify-content: flex-end;
}

.btn-blue:hover,
.btn-blue:active{
    background-color: #e58e26;
    color: #0c2461;
    transition: 1s;
}

.btn-orange{
    display: inline-block;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 800;
    font-size: 1em;
    text-align: center;
    padding: .5em .75em;
    bottom: 0;
    background-color: #e58e26;
    color: #0c2461;
    border-radius: .25em;
    margin: 0 auto;
}
.btn-orange:hover,
.btn-orange:active{
    background-color: #0c2461;
    color: #e58e26;
    transition: 1s;
}